.imes-header-component {
  background: url("../../images/banner.png") 50% 50% / contain repeat;
  padding: 0 16px 20px;
  height: 100px;
}

.imes-header-component h4 {
  color: #000;
  padding: 28px 0 0 0;
  font-weight: bold;
  font-size: 2em;
}

.imes-header-component a {
  text-decoration: none;
}

.imes-header-component a:hover {
  color: red;
}
