<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>DashBoards</mat-label>
  <mat-select (selectionChange)="fetchDashboard($event)">
    <mat-option *ngFor="let item of items" [value]="item.id">
      {{item.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<hr>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <fusioncharts
    width="48%"
    height="350"
    type="Column2D"
    dataFormat="JSON"
    [dataSource]="results[0]">
  </fusioncharts>
  <fusioncharts
    width="48%"
    height="350"
    type="Column2D"
    dataFormat="JSON"
    [dataSource]="results[1]">
  </fusioncharts>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <fusioncharts
    width="48%"
    height="350"
    type="Column2D"
    dataFormat="JSON"
    [dataSource]="results[2]">
  </fusioncharts>
  <fusioncharts
    width="48%"
    height="350"
    type="Column2D"
    dataFormat="JSON"
    [dataSource]="results[3]">
  </fusioncharts>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <fusioncharts
    width="48%"
    height="350"
    type="Column2D"
    dataFormat="JSON"
    [dataSource]="results[4]">
  </fusioncharts>
  <fusioncharts
    width="48%"
    height="350"
    type="line"
    dataFormat="JSON"
    [dataSource]="results[5]">
  </fusioncharts>
</div>
<!--<pre>{{results | json}}</pre>-->
